DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

PTERODACTYL_URL=https://panel.veltrixcloud.online
PTERODACTYL_API_KEY=

# Server-create configuration from your Pterodactyl panel:
NEST_ID=1
NODE_ID=
LOCATION_ID=1
EGG_ID=
ALLOCATION_ID=
DOCKER_IMAGE=
STARTUP=

DEFAULT_DATABASE_LIMIT=0
DEFAULT_BACKUP_LIMIT=0
DEFAULT_CPU=100
DEFAULT_DISK=1024
