DISCORD_TOKEN=MTU1MjYwMzk1NTU2ODA1NDMzMg.Gz-9Fq.Jm3Tj84mi0gONxqejaW6w_tDtpEkhxXIMRVPXQ
CLIENT_ID=1552603955568054332
GUILD_ID=1549696790922657822

PTERODACTYL_URL=https://panel.veltrixcloud.online
PTERODACTYL_API_KEY=ptla_lFyjKGt0OarpyQF2KtSiLIEGOvDiGmAkysoaAA1KbzM

# Server-create configuration from your Pterodactyl panel:
NEST_ID=1
NODE_ID=1
LOCATION_ID=1
EGG_ID=3
ALLOCATION_ID=
DOCKER_IMAGE=
STARTUP=

DEFAULT_DATABASE_LIMIT=0
DEFAULT_BACKUP_LIMIT=3
DEFAULT_CPU=100
DEFAULT_DISK=1024
